body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
    width: 425px;
    height: 300px;
    border: 2px solid aliceblue;
    border-radius: 10px;
    margin: 150px auto;
    background-image: url('https://lever-client-logos.s3.us-west-2.amazonaws.com/25f40b68-174d-4990-91d5-3781ff4f98fe-1658775335303.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    align-items: center;
}

.app1 {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 2px solid green;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: white;
    margin-right: 5px;
}

.text-r2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

#ele1 {
    width: 425px;
    height: 300px;
    border: 2px solid aliceblue;
    border-radius: 10px;
    margin: 25px auto;
    cursor: pointer;
}

h4 {
    text-align: center;
    margin-top: 125px;
    text-decoration: underline;
}

.app2, .app3 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#div1, #div2, #div3, #div4 {
    cursor: pointer;
    border: 5px solid aliceblue;
}

.links {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.links a {
    text-decoration: none;
    padding: 10px;
    border: 2px solid aliceblue;
    cursor: pointer;
    background-color: green;
    font-size: 1.2rem;
    color: aliceblue;
    border-radius: 3px;
}

.links a:hover {
    color: green;
    background-color: aliceblue;
}


#key, .new-div {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 2px solid black;
}
